/.DS_Store
/.ipynb_checkpoints
/.vscode

/coauthor-permission-letters/diverse-logics/

/dissertation-text/*
!/dissertation-text/*.tex
!/dissertation-text/*.cls
!/dissertation-text/*.bib
!/dissertation-text/*.md