.DS_Store
.ipynb_checkpoints
.vscode

*.aux
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.toc
*.tof
*.synctex.gz

thesis_permission_forms/forms/*.pdf
!thesis_permission_forms/forms/gepa-signature-instructions.pdf
!/dissertation-text/*.tex
!/dissertation-text/*.cls
!/dissertation-text/*.bib
!/dissertation-text/*.md
!/dissertation-text/*figures-and-files