/.DS_Store
/.ipynb_checkpoints
/.vscode

/coauthor-permission-letters/.DS_Store

/administrative-files/*
/dissertation-text/*
!/dissertation-text/*.tex
!/dissertation-text/*.cls
!/dissertation-text/*.bib
!/dissertation-text/*.md
!/dissertation-text/*figures